/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color:yellow;
}

.my-field{
	-fx-background-color:rgb(50%,45%,80%);
	-fx-text-fill:red;
	-fx-pref-width:150px;
}

#my-button1 {
	-fx-background-color:cyan;
	-fx-border-style:dashed; 
	-fx-border-width:5px;
	-fx-font: bold 15pt 'sansserif';
}